# Deepseek API
DEEPSEEK_API_KEY=

# SMTP Settings
EMAIL_SERVER=smtp.gmail.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=587  # Or your SMTP port

# IMAP Settings (defaults to Gmail settings if not provided)
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_SERVER=imap.gmail.com
IMAP_PORT=993